body {
    font-family: 'Nunito';
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

nav div {
    height: 10vh;
}

button:hover .arrow__icon path {
    stroke: white;
}

.main__container {
    width: 100%;
    height: 35vh;
    background-image: url('../img/Place.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.artikel__card {
    width: 29.2vw !important;
    height: max-content !important;
    padding-bottom: 1.5rem !important;
}

.artikel__card img {
    height: 50% !important;
    object-fit: cover;
    object-position: center;
}

.footer {
    height: max-content;
}
.footer ul {
    font-size: 1rem;
}
.footer p {
    width: 80vw;
    text-align: center;
    margin: 1rem auto;
    font-size: 14px;
}

@media (min-width: 576px) and (max-width: 768px)  {
    body {
      font-size: 14px;
      width: 100vw;
    }
    button#prev, button#next {
        display: none;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    html {
        font-size: 14px;
        width: 100vw;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1026px) and (max-width: 1440px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    .artikel__card {
        width: 27.8vw !important;
    }
    .artikel__card__title {
        font-size: 1.35rem;
    }
    .artikel__card__content {
        font-size: 1rem;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1441px) and (max-width: 1675px) {
    .artikel__card {
        width: 28.8vw !important;
    }
}