body {
    font-family: 'Nunito';
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

nav div {
    height: 10vh;
}

button {
    transition: ease-in-out 0.2s;
}

button:hover .arrow__icon path {
    stroke: white;
}

button:hover .arrow__icon path, .arrow__icon__navbar path  {
    stroke: white;
}

.main__container {
    width: 100%;
    height: 35vh;
    background-image: url('../img/Place.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.artikel__card {
    width: 32% !important;
    height: max-content;
    padding-bottom: 1.5rem !important;
}

.artikel__card img {
    height: 18rem !important;
}

.artikel__card p, .artikel__card button {
    margin-top: 1rem;
}

@media (max-width: 576px) {
    body {
        font-size: 11px;
        width: 100vw;
    }
    .main__container {
        background-position: left;
        min-height: 25vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 1.5rem;
    }
    .main__container .text-b1 {
        font-size: 1.15rem;
    }
    .rekomendasi, .new__artikel, .search {
        padding: 0 1rem;
    }
    .search__container {
        gap: .5rem;
    }
    .search__container button p {
        display: none;
    }
    .search form input {
        font-size: 1rem;
    }
    .artikel__content {
        display: flex  !important;
        transition: transform 0.5s ease !important;
        flex-wrap: nowrap !important;
        justify-content: start;
    }
    .artikel__content > div {
        flex-shrink: 0;
        width: 100% !important;
    }
    .artikel__card {
        height: max-content !important;
    }
    .artikel__card img {
        height: 13rem !important;
    }
    .artikel__card p:nth-child(2) {
        font-size: 1rem !important;
        margin-top: 1rem;
    }
    .artikel__card p:nth-child(3) {
        margin-top: 1rem;
        font-size: 0.875rem !important;
    }
    .artikel__card button {
        margin-top: 1rem;
        width: 90% !important;
    }
}

@media (min-width: 576px) and (max-width: 767px)  {
    body {
      font-size: 14px;
      width: 100vw;
    }
    .main__container {
        background-position: left;
        min-height: 27vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 1.63rem;
    }
    .main__container .text-b1 {
        font-size: 1.22rem;
    }
    .rekomendasi, .new__artikel, .search {
        padding: 0 2rem;
    }
    .artikel__content {
        display: flex  !important;
        transition: transform 0.5s ease;
        flex-wrap: nowrap !important;
        justify-content: start;
    }
    .artikel__content > div {
        flex-shrink: 0 !important;
        width: 70% !important;
    }
    .artikel__card {
        height: max-content !important;
        padding-bottom: 2rem !important;
    }
    .artikel__card p:nth-child(2) {
        font-size: 1.5rem !important;
        margin-top: 1.2rem !important;
    }
    .artikel__card p:nth-child(3) {
        font-size: 1.2rem;
        margin-top: 1.2rem !important;
    }
    .artikel__card button {
        margin-top: 1.2rem !important;
        width: 90% !important;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1.2rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    html {
        font-size: 14px;
        width: 100vw;
    }
    .main__container {
        background-position: left;
        height: 30vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 2rem;
        padding: 0 3rem;
    }
    .main__container .text-b1 {
        font-size: 1.5rem;
        padding: 0 3rem;
    }
    .rekomendasi, .new__artikel, .search {
        padding: 0 3rem;
    }
    .artikel__content {
        display: flex !important;
        transition: transform 0.5s ease !important;
        flex-wrap: nowrap;
        justify-content: start;
    }
    .artikel__card {
        height: max-content !important;
        padding-bottom: 2rem !important;
    }
    .artikel__card img {
        height: 13rem !important;
    }
    .artikel__content > div {
        flex-shrink: 0 !important;
        width: 50% !important;
    }
    .artikel__card button {
        width: 90%  !important;
        margin-top: 1.5rem !important;
    }
    .artikel__card p:nth-child(2) {
        margin-top: 1rem;
        font-size: 1.4rem  !important;
    }
    .artikel__card p:nth-child(3) {
        margin-top: 1rem;
        font-size: 1rem  !important;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1026px) and (max-width: 1440px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    .rekomendasi, .new__artikel, .search {
        padding: 0 2rem;
    }
    .artikel__card {
        width: 31.6% !important;
        height: max-content !important;
        padding-bottom: 1rem;
    }
    .artikel__card img {
        height: 13rem !important;
    }
    .artikel__card p:nth-child(2) {
        margin-top: 1rem;
        font-size: 1.5rem  !important;
    }
    .artikel__card p:nth-child(3) {
        margin-top: 1.15rem;
        font-size: 1.1rem  !important;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .artikel__card {
        width: 31% !important;
        height: max-content !important;
    }
    .artikel__card img {
        height: 15rem !important;
    }
    .artikel__card p:nth-child(2) {
        margin-top: 1rem;
        font-size: 1.6rem  !important;
    }
    .artikel__card p:nth-child(3) {
        margin-top: 1.15rem;
        font-size: 1.15rem  !important;
    }
}