body {
    font-family: 'Nunito';
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

nav div {
    height: 10vh;
}

.main__container {
    width: 100%;
    height: 35vh;
    background-image: url('../img/Place.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pekerjaan__card {
    width: 21.5vw !important;
    height: max-content !important;
}

.main__container__detail {
    background-image: url('../img/background-detail.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
}

.perusahaan__info {
    top: 80%;
}

.footer {
    height: max-content;
}
.footer ul {
    font-size: 1rem;
}
.footer p {
    width: 80vw;
    text-align: center;
    margin: 1rem auto;
    font-size: 14px;
}

@media (max-width: 576px) {
    body {
      font-size: 14px;
      width: 100vw;
    }
    .main__container {
        background-position: left;
        min-height: 25vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 1.5rem;
    }
    .main__container .text-b1 {
        font-size: 1.15rem;
    }
    .search__container {
        gap: .5rem;
    }
    .search__container button p {
        display: none;
    }
    .input form {
        width: 47%;
    }
    .pekerjaan__carousel {
        width: 100%;
    }
    .pekerjaan__card__container {
        display: flex;
        flex-wrap: nowrap;
        transition: transform 0.5s ease;
        width: 100% !important;
        gap: 0;
    }
    .pekerjaan__card {
        width: 100% !important;
    }   
    .perusahaan__info .text-h5 {
        font-size: 1.3rem;
    }
    .input, .card, .search, .content, .pekerjaan {
        padding: 0 1.5rem;
        width: 100%;
    }
    .main__content {
        flex-direction: column;
        gap: 2rem;
    }
    .content__left {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 768px)  {
    body {
      font-size: 14px;
      width: 100vw;
    }
    button#prev, button#next {
        display: none;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    html {
        font-size: 14px;
        width: 100vw;
    }
    .main__container {
        background-position: left;
        height: 30vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 2rem;
        padding: 0 3rem;
    }
    .main__container .text-b1 {
        font-size: 1.5rem;
        padding: 0 3rem;
    }
    .perusahaan__info {
        top: 85%;
    }
    .input, .card, .search, .content, .pekerjaan {
        padding: 0 3rem;
        width: 100%;
     }
     .main__content {
        gap: 3rem;
        flex-direction: column;
     }
     .content__left {
        width: 80%;
     }
     .search__container {
        gap: .5rem;
    }
    .search__container button {
        width: 16%;
    }
    .input form {
        width: 32%;
    }
    .pekerjaan__card {
        width: 48% !important;
     }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1026px) and (max-width: 1440px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    .search__container {
        gap: .5rem;
    }
    .pekerjaan__card__container {
        column-gap: 3%;
        justify-content: center;
    }
    .content, .pekerjaan {
        padding: 0 4rem;
    }
    .content__left {
        width: 76%;
    }
    .main__content {
        gap: 5rem;
    }
    .pekerjaan__card {
        width: 25.5vw !important;
        height: max-content !important;
    }
    .pekerjaan__card__nama, .pekerjaan__card__harga, .pekerjaan__card__lokasi, .pekerjaan__card__deskripsi {
        font-size: 1.1rem;
    }
    .pekerjaan__card__jam {
        font-size: .85rem;
    }
    .pekerjaan__card__jenis {
        font-size: 1.3rem;
    }
    .pekerjaan__card button {
        margin-top: 2rem !important;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .pekerjaan__card {
        width: 24vw !important;
    }
}