body {
    font-family: 'Nunito';
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

nav div {
    height: 10vh;
}

button {
    transition: ease-in-out 0.2s;
}

button:hover .arrow__icon path, .arrow__icon__navbar path  {
    stroke: white;
}

.main__container {
    width: 100%;
    height: 35vh;
    background-image: url('../img/Place.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.perusahaan__card {
    width: 32.2% !important;
}

.search__container input {
    width: 67%;
}

.search__container div {
    width: 25%;
}

.main__container__detail {
    background-image: url('../img/background-detail.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
}

.pekerjaan__card {
    width: 21.8vw !important;
    height: max-content !important;
}

.fancybox__image {
    width: 60%; 
    height: 80vh; 
    object-fit: contain; 
    object-position: center;
    border-radius: 8px;
}

@media  (max-width: 576px) {
    body {
      font-size: 14px;
      width: 100vw;
    }
    form input, form select {
        font-size: 1rem !important;
    }
    .main__container {
        background-position: left;
        min-height: 25vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 1.5rem;
    }
    .main__container .text-b1 {
        font-size: 1.15rem;
    }
    .content, .pekerjaan, .search, .perusahaan {
        padding: 0 1.5rem;
    }
    .search__container {
        gap: .75rem;
    }
    .perusahaan__card__container {
        flex-wrap: nowrap;
        width: 100%;
        gap: 0;
    }
    .perusahaan__card {
        width: 100% !important;
    }
    .perusahaan__card__title {
        font-size: 1.1rem;
    }
    .perusahaan__card__location {
        font-size: 1rem;
    }
    .perusahaan__card__description {
        font-size: .8rem;
        gap: .75rem;
    }
    .search__container {
        flex-direction: column;
    }
    .search__container input, .search__container div {
        width: 100%;
        font-size: 1rem;
    }
    .search__container button {
        width: max-content;
    }
    .search__container button p {
        font-size: 1rem;
    }
    .search__icon {
        width: 1rem;
        height: 1rem;
    }
    .main__container__detail .text-b2 {
        font-size: 1rem;
    }
    .perusahaan__info {
        padding: 1.5rem;
    }
    .perusahaan__info__header .text-h5 {
        font-size: 1.2rem;
    }
    .perusahaan__info .text-b2 {
        font-size: 1.1rem;
    }
    .content {
        margin-top: 5rem;
    }
    .perusahaan__info__detail {
        flex-direction: column;
        gap: .7rem;
    }
    .main__content {
        flex-direction: column;
        gap: 2rem;
    }
    .content__container {
        margin-top: 2rem;
    }   
    .content__left {
        width: 100%;
    }   
    .img-left {
        width: 100%;
    }
    .img-right {
        width: 100%;
    }
    .pekerjaan__card__container {
        flex-wrap: nowrap !important;
        gap: 0;
    }
    .pekerjaan__card {
        width: 100% !important;
    }
    .button__container {
        font-size: 1rem;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767px)  {
    body {
      font-size: 14px;
      width: 100vw;
    }
    form input, form select {
        font-size: 1.1rem !important;
    }
    .main__container {
        background-position: left;
        min-height: 25vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 2rem;
    }
    .main__container .text-b1 {
        font-size: 1.4rem;
    }
    .content, .pekerjaan, .search, .perusahaan {
        padding: 0 1.5rem;
    }
    .search__container {
        gap: .75rem;
    }
    .perusahaan__card__container {
        flex-wrap: nowrap;
        width: 100%;
        gap: 0;
    }
    .perusahaan__card {
        width: 100% !important;
    }
    .perusahaan__card__title {
        font-size: 1.1rem;
    }
    .perusahaan__card__location {
        font-size: 1rem;
    }
    .perusahaan__card__description {
        font-size: .8rem;
        padding: 0 1.5rem;
    }
    .search__container {
        flex-direction: column;
    }
    .search__container input, .search__container div {
        width: 100%;
        font-size: 1rem;
    }
    .search__container button {
        width: max-content;
    }
    .search__container button p {
        font-size: 1rem;
    }
    .search__icon {
        width: 1rem;
        height: 1rem;
    }
    .main__container__detail .text-b2 {
        font-size: 1rem;
    }
    .perusahaan__info {
        padding: 1.5rem;
    }
    .perusahaan__info__header .text-h5 {
        font-size: 1.2rem;
    }
    .perusahaan__info .text-b2 {
        font-size: 1.1rem;
    }
    .content__container {
        margin-top: 4rem;
    }
    .content {
        margin-top: -4rem;
    }
    .perusahaan__info__detail {
        flex-direction: column;
        gap: .7rem;
    }
    .main__content {
        flex-direction: column;
        gap: 2rem;
    } 
    .img-left {
        width: 100%;
    }
    .img-right {
        width: 100%;
    }
    .content__left {
        width: 100%;
    }   
    .pekerjaan__card__container {
        display: flex;
        transition: transform 0.5s ease;
    }
    .pekerjaan__card__container > div {
        flex-shrink: 0;
        width: 100%  !important; 
        width: 48%  !important;
        margin: auto;
    }
    .pekerjaan__card {
        gap: 1rem;
        height: max-content  !important;
        padding-bottom: 2rem;
        justify-content: center;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1.2rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    html {
        font-size: 14px;
        width: 100vw;
    }
    form input, form select {
        font-size: 1.2rem !important;
    }
    .main__container {
        background-position: left;
        height: 30vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 2rem;
        padding: 0 3rem;
    }
    .main__container .text-b1 {
        font-size: 1.5rem;
        padding: 0 3rem;
    }
    .main__container__detail .text-b2 {
        font-size: 1.1rem;
    }
    .perusahaan__card {
        width: 48.4% !important;
    }
    .perusahaan__card__title {
        font-size: 1.1rem;
    }
    .perusahaan__card__location {
        font-size: 1rem;
    }
    .perusahaan__card__description {
        font-size: .89rem;
    }   
    .search__container {
        gap: .35rem;
    }
    .content, .pekerjaan, .search, .perusahaan {
        padding: 0 3rem;
    }
    .content__container {
        margin-top: 5rem;
    }
    .main__content {
        gap: 3rem;
    }
    .content__left {
        width: 80%;
    }
    .content__life div {
        flex-direction: column;
    }
    .img-left-container {
        width: 100%;
    }
    .content__life div div {
        flex-direction: row;
        width: 100%;
    }
    .img-right {
        width: 100%;
    }
    .pekerjaan__card__container {
        justify-content: center;
        gap: 2rem;
    }
    .pekerjaan__card {
        width: 47% !important;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1026px) and (max-width: 1440px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    form input, form select {
        font-size: 1.2rem !important;
    }
    .perusahaan__card {
        width: 31.4% !important;
    }
    .perusahaan__card__title {
        font-size: 1.15rem;
    }
    .perusahaan__card__location {
        font-size: 1rem;
    }
    .pekerjaan__card__container {
        column-gap: 3%;
        justify-content: center;
    }
    .content, .pekerjaan {
        padding: 0 4rem;
    }
    .content__left {
        width: 76%;
    }
    .main__content {
        gap: 5rem;
    }
    .pekerjaan__card {
        width: 25.5vw !important;
        height: max-content !important;
    }
    .pekerjaan__card__nama, .pekerjaan__card__harga, .pekerjaan__card__lokasi, .perusahaan__card__description {
        font-size: 1.1rem;
    }
    .pekerjaan__card__jam {
        font-size: .85rem;
    }
    .pekerjaan__card__jenis {
        font-size: 1.3rem;
    }
    .pekerjaan__card button {
        margin-top: 2rem !important;
    }
    .perusahaan__card__description {
        gap: .5rem;
        font-size: 1rem;
        flex-direction: column;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .perusahaan__card {
        width: 32% !important;
    }
    .perusahaan__info {
        top: 60%;
    }
    .perusahaan__card__title {
        font-size: 1.35rem;
    }
    .content__left {
        width: 70%;
    }
    .main__content {
        gap: 7rem;
    }
    .content, .pekerjaan {
        padding: 0 8.5rem;
    }
    .pekerjaan__card {
        width: 23vw !important;
        height: max-content !important;
    }
    .pekerjaan__card button {
        margin-top: 1rem !important;
    }
    .pekerjaan__card button {
        margin-top: 1rem !important;
    }
}