body {
    font-family: 'Nunito';
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

nav div {
    height: 10vh;
}

button:hover .arrow__icon path, .arrow__icon__navbar path  {
    stroke: white;
}

.main__container {
    width: 100%;
    height: 35vh;
    background-image: url('../img/Place.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    .main__container {
        background-position: left;
        min-height: 25vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 1.5rem;
    }
    .main__container .text-b1 {
        font-size: 1.15rem;
    }
    .text-h5 {
        font-size: 1.25rem;
    }
    .text-b2 {
        font-size: 1.15rem;
    }
    .informasi, .pengalaman, .keahlian, .portofolio, .sertifikasi {
        padding: 0 1rem;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 2rem;
    }
    .informasi__pp {
        margin: 0 auto;
        width: 12rem;
    }
    .informasi__data form {
        margin-top: 4rem;
        flex-direction: column;
    }
    .informasi__data form div {
        width: 100%;
        text-wrap: wrap;
    }
    .input__group input, .input__group .select__form__group {
        width: 100%;
    }
    .modal {
        height: 110vh;
    }
    .modal__content {
        width: 100%;
        overflow: scroll;
        max-height: max-content;
    }
    .modal__content form {
        width: 100%;
    }
    .footer {
        height: max-content;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767px)  {
    body {
      font-size: 14px;
      width: 100vw;
    }
    .text-h5 {
        font-size: 1.35rem;
    }
    .text-b2 {
        font-size: 1.2rem;
    }
    .informasi, .pengalaman, .keahlian, .portofolio, .sertifikasi {
        padding: 0 1.5rem;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 2.5rem;
    }
    .informasi__pp {
        margin: 0 auto;
        width: 12rem;
    }
    .informasi__data form {
        margin-top: 3rem;
        flex-direction: column;
    }
    .informasi__data form div {
        width: 100%;
        text-wrap: wrap;
    }
    .input__group input, .input__group .select__form__group {
        width: 75%;
    }
    .modal__content {
        width: 100%;
        overflow: scroll;
        max-height: max-content;
    }
    .modal__content form {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1.2rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    html {
        font-size: 14px;
        width: 100vw;
    }
    .main__container {
        background-position: left;
        height: 30vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 2rem;
        padding: 0 3rem;
    }
    .main__container .text-b1 {
        font-size: 1.5rem;
        padding: 0 3rem;
    }
    .informasi, .pengalaman, .keahlian, .portofolio, .sertifikasi {
        padding: 0 3rem;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 3rem;
    }
    .informasi__pp {
        margin: 0 auto;
        width: 12rem;
    }
    .informasi__data form {
        margin-top: 4rem;
    }
    .informasi__data form div {
        width: 50%;
        text-wrap: wrap;
    }
    .input__group input, .input__group .select__form__group {
        width: 90%;
    }
    .modal__content {
        width: 80%;
        height: max-content;
        overflow: scroll;
    }
    .modal__content form {
        width: 90%;
    }
    .modal__content .input__group input {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1026px) and (max-width: 1440px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 3rem;
    }
    .input__group input, .input__group .select__form__group {
        width: 90%;
    }
    .modal {
        height: 110vh;
    }
    .modal__content {
        width: 65%;
        overflow: scroll;
    }
    .modal__content form {
        width: 65%;
    }
    .modal__content .input__group input {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 4rem;
    }
    .input__group input, .input__group .select__form__group {
        width: 80%;
    }
    .modal__content {
        overflow: scroll;
    }
    .modal__content .input__group input {
        width: 100%;
    }
}