body {
    font-family: 'Nunito';
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

nav div {
    height: 10vh;
}

button:hover .arrow__icon path, .arrow__icon__navbar path  {
    stroke: white;
}

.main__container {
    width: 100%;
    height: 35vh;
    background-image: url('../img/Place.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal {
    opacity: 0; 
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: auto; 
}

.modal__content {
    transform: scale(0.8);
}

.modal__content.show {
    transform: scale(1);
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #0046B1; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    #batal__informasi {
        width: max-content;
    }
    .main__container {
        background-position: left;
        min-height: 25vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 1.5rem;
    }
    .main__container .text-b1 {
        font-size: 1.15rem;
    }
    .text-h5 {
        font-size: 1.25rem;
    }
    .text-b2 {
        font-size: 1.15rem;
    }
    .informasi, .pengalaman, .keahlian, .portofolio, .sertifikasi {
        padding: 0 1rem;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 1.5rem 1rem;
    }
    .informasi__pp {
        justify-content: center;
        align-items: center;
    }
    .informasi__data form {
        flex-direction: column;
    }
    .informasi__data form div {
        width: 100%;
        text-wrap: wrap;
    }
    .input__group input, .input__group .select__form__group {
        width: 100%;
    }
    .modal__content {
        width: 100% !important;
        max-height: max-content;
    }
    .modal__content form {
        width: 100%;
    }
    .form__keahlian__wrapper form {
        flex-direction: column;
        gap: 0;
    }
    .footer {
        height: max-content;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 577px) and (max-width: 767px)  {
    body {
      font-size: 14px;
      width: 100vw;
    }
    #batal__informasi {
        width: max-content;
    }
    .text-h5 {
        font-size: 1.35rem;
    }
    .text-b2 {
        font-size: 1.2rem;
    }
    .informasi, .pengalaman, .keahlian, .portofolio, .sertifikasi {
        padding: 0 1.5rem;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 2.5rem;
    }
    .informasi__pp {
        justify-content: center;
        align-items: center;
    }
    .informasi__data form {
        flex-direction: column;
    }
    .informasi__data form div {
        width: 100%;
        text-wrap: wrap;
    }
    .input__group input, .input__group .select__form__group {
        width: 75%;
    }
    .modal__content {
        width: 100%;
        max-height: max-content;
    }
    .modal__content form {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1.2rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 14px;
        width: 100vw;
    }
    #batal__informasi {
        width: max-content;
    }
    .main__container {
        background-position: left;
        height: 30vh;
        margin-top: 4rem;
    }
    .main__container .text-h4 {
        font-size: 2rem;
        padding: 0 3rem;
    }
    .main__container .text-b1 {
        font-size: 1.5rem;
        padding: 0 3rem;
    }
    .informasi, .pengalaman, .keahlian, .portofolio, .sertifikasi {
        padding: 0 3rem;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 3rem;
    }
    .informasi__pp {
        width: 12rem;
    }
    .informasi__data form div {
        width: 50%;
        text-wrap: wrap;
    }
    .input__group input, .input__group .select__form__group {
        width: 90%;
    }
    .modal__content {
        width: 80%;
        height: max-content;
    }
    .modal__content form {
        width: 90%;
    }
    .modal__content .input__group input {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    body {
        font-size: 14px;
        width: 100vw;
    }
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 3rem;
    }
    .input__group input, .input__group .select__form__group {
        width: 90%;
    }
    .modal {
        height: 110vh;
    }
    .modal__content {
        width: 65%;
    }
    .modal__content form {
        width: 65%;
    }
    .modal__content .input__group input {
        width: 100%;
    }
    .footer {
        height: max-content;
        margin-bottom: 0;
    }
    .footer ul {
        font-size: 1rem;
    }
    .footer p {
        width: 80vw;
        text-align: center;
        margin: 1rem auto;
        font-size: 14px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .informasi__container, .pengalaman__container, .keahlian__container, .portofolio__container, .sertifikasi__container {
        width: 100%;
        padding: 4rem;
    }
    .input__group input, .input__group .select__form__group {
        width: 80%;
    }
    .modal__content .input__group input {
        width: 100%;
    }
}