body {
    overflow: hidden;
    font-family: 'Nunito';
}

.main__content {
    background-image: url('../assets/img/login-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    position: absolute;
    width: 40.8vw;
    height: 83vh;
    background-color: #D6E9FA;
    opacity: 0.5;
    pointer-events: none;
}

.content {
    position: relative;
    width: 40.8vw;
    height: 83vh;
    z-index: 2;
}

.main__content .text {
    width: 462px;
}

.auth__content {
    width: 492px;
}

@media (max-width: 575.98px) {
    body {
      font-size: 14px;
    }
    .main__content {
      display: none;
    }
    .auth__content__container {
        width: 100vw;
        height: 100vh;
        padding: 14px;
    }
    input {
        padding: 0 .5rem;
    }
}  

@media (min-width: 576px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    .main__content {
        display: none;
    }
    .auth__content__container {
        width: 100%;
        height: 100vh;
    }
    .question {
        bottom: -2rem;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    body {
      font-size: 18px;
    }
    .main__content {
        display: none;
    }
    .auth__content__container {
        width: 100%;
        height: 100vh;
    }
    .question {
        bottom: -2rem;
    }
}

@media (min-width: 1026px) and (max-width: 1440px) {
    .auth__content p:nth-child(1) {
        font-size: 2rem;
    }
    .auth__content p:nth-child(1) {
        font-size: 1.5rem;
    }
    .content img {
        width: 65%;
        z-index: -1;
    }
    .main__content__text {
        display: block;
        width: 55% !important;
        margin-top: 1.3rem;
        font-size: 2rem;
    }
    .question {
        bottom: -2rem;
    }
}
  